{% extends 'blog/base_blog.html' %}
{% load static %}

{% block main %}
    <section>
        <div class="container">
            <div class="row gy-5">
                <main class="col-lg-8">
                    <div class="container">
                        <header>
                            <h2 class="mb-5">Últimas novidades</h2>
                        </header>

                        <div class="row gy-4 mb-5">
                            {% for post in posts %}
                            <div class="col-xl-6">
                                <a href="./post-detail.html">
                                    <img class="last-section-posts-image"
                                        src="{{post.feature_image.url}}">
                                </a>
                                <div class="d-flex align-items-center justify-content-between mb-2 mt-2">
                                    <small class="text-gray-600">{{post.created_at|date:"d M, Y"}}</small>
                                    <a class="small fw-bold text-uppercase small text-gray-600">{{post.category}}</a>
                                </div>
                                <h3>{{post.title}}</h3>
                                <p>{{post.mini_description}}</p>
                                <div class="featured-home-post-author">
                                    <img src="{{post.author.profile.avatar.url}}" alt="autor">
                                    <span>{{post.author.first_name}} {{post.author.last_name}}</span>
                                    <span class="foot-divisor">|</span>
                                    <span><i class="fa-regular fa-comment"></i> 12</span>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center mt-5">

                                    {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}"><i class="fa-solid fa-chevron-left"></i></a></li>
                                    {% endif %}

                                    <li class="page-item"><a class="page-link " href="#">Página {{posts.number}} de {{posts.paginator.num_pages}}</a></li>
                                    
                                    {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}"><i class="fa-solid fa-angles-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </main>

                {% include 'blog/components/aside.html' %}
            </div>
        </div>
    </section>
{% endblock %}
