{% load static %}

<!--Start Aside-->
<aside class="col-lg-4">

    <div class="card mb-5 p-3">
        <div class="card-body">
            <h3 class="mb-5">Últimos posts</h3>
            <div class="d-flex align-items-center mb-2">
                <img class="last-posts-image img-fluid flex-shrink-0"
                    src="https://images.unsplash.com/photo-1682685797661-9e0c87f59c60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
                <div class="ms-2 text-muted">
                    <p class="fw-bold mb-0">Melhores devs do Brasil</p>
                    <p><i class="fa-solid fa-eye"></i> 265 <span class="px-2">|</span> <i
                            class="fa-regular fa-comment"></i> 12</p>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <img class="last-posts-image img-fluid flex-shrink-0"
                    src="{% static '/img/neom-h-unsplash.jpg' %}">
                <div class="ms-2 text-muted">
                    <p class="fw-bold mb-0">BigTech compra GPT</p>
                    <p><i class="fa-solid fa-eye"></i> 265 <span class="px-2">|</span> <i
                            class="fa-regular fa-comment"></i> 12</p>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <img class="last-posts-image img-fluid flex-shrink-0"
                    src="{% static '/img/neom-c-unsplash.jpg' %}">
                <div class="ms-2 text-muted">
                    <p class="fw-bold mb-0">Bard vs GPT, quem ganha?</p>
                    <p><i class="fa-solid fa-eye"></i> 265 <span class="px-2">|</span> <i
                            class="fa-regular fa-comment"></i> 12</p>
                </div>
            </div>
        </div>
    </div>

    <!--Start Categorias-->
    <div class="card mb-5 p-3">
        <div class="card-body">
            <h3 class="mb-5">Categorias</h3>
            <table class="table table-striped">
                <tbody class="fw-bold">
                    {% for category in categories %}
                    <tr class="cursor-pointer">
                        {% if post %}
                        <td class="text-gray-600 {% if post.category.id == category.id %} selected {% endif %}">{{category.name}}</td>
                        <td class="text-end text-gray-600 {% if post.category.id == category.id %} selected {% endif %}">{{category.count}}</td>
                        {% else %}
                        <td class="text-gray-600">{{category.name}}</td>
                        <td class="text-end text-gray-600">{{category.count}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--End Categorias-->

    <!--Start Tags-->
    <div class="card mb-5 p-3">
        <div class="card-body">
            <h3 class="mb-5">TAGS</h3>
            <div class="tags-container">

                {% for tag in tags %}
                <div><a class="tag border-gray-400 py-2 px-4 fw-bold" href="#">{{tag.formated_name}}</a></div>
                {% endfor %}

            </div>
        </div>
    <!--End Tags-->
</aside>
<!--End Aside-->